<div class="container mt-5">
    <form [formGroup]="miFormulario" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="img-container">
          <img src="../../assets/logo.jpeg" alt="">
      </div>
      
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">N°: </span>
          <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="N°">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Fecha: </span>
          <input type="text" class="form-control" id="fecha" formControlName="fecha" placeholder="dd/mm/yyyy">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Nombre: </span>
          <input type="text" class="form-control" id="recibidoDe" formControlName="recibidoDe" placeholder="Nombre completo">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Actividad: </span>
          <input type="text" class="form-control" id="concepto" formControlName="concepto" placeholder="Concepto del pago">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input type="text" class="form-control" id="valor" formControlName="valor" placeholder="Valor del pago">
        </div>
        <button type="submit" class="btn btn-primary ms-2" [disabled] = "miFormulario.valid ? false : true">Imprimir</button>
      </div>
    </form>
  </div>
  